@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.header__top {
  background-color: #272222;
}

.header__top-wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__top-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.8px;
}

.header__top-text-ask {
  margin-right: 50px;
  position: relative;
}

.header__top-text-ask::before {
  content: "";
  position: absolute;
  background: url("../img/headerAsk.svg");
  width: 18px;
  height: 16px;
  left: -25px;
  top: 2px;
  background-repeat: no-repeat;
}

.header__top-text-check {
  position: relative;
}

.header__top-text-check::before {
  content: "";
  position: absolute;
  background: url("../img/headerCheck.svg");
  width: 18px;
  height: 18px;
  left: -26px;
  background-repeat: no-repeat;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1350px;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 32px;
}

.header__burger {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: 38px;
}

.header__tel {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: -1px;
  margin-right: 105px;
}

.header__tel-number {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  margin-right: 2px;
}

.header__tel-text {
  opacity: 0.3;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14px;
}

.header__list {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
  margin-bottom: 44px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__list-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 31px;
}

.header__list-services-item {
  margin-right: 26px;
}

.header__list-services-item:nth-child(5n) {
  margin-right: 0;
}

.header__list-services-item-link {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14px;
}

.header__list-services-item--arrow {
  position: relative;
}

.header__list-services-item--arrow::after {
  position: absolute;
  width: 12px;
  height: 20px;
  content: "";
  background: url("img/arrow-right.svg");
  background-repeat: no-repeat;
  top: 5px;
  right: -16px;
}

.header__list-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  margin-top: -3px;
}

.header__list-user-item--location a {
  margin-top: 3px;
  display: inline-block;
}

.header__list-user-item--location img {
  margin-right: 6px;
  margin-top: -4px;
}

.header__list-user-item-link {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14px;
}

.header__list-user-item--search {
  margin-left: 55px;
}

.header__list-user-item--ring {
  margin-left: 32px;
}

.header__list-user-item--login {
  margin-left: 31px;
}

.header__search {
  display: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: -1px;
}

.header__search--hidden {
  display: block;
}

.header__search-input {
  background-color: #f1f1f1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 2px;
  display: inline-block;
}

.header__search-input::-webkit-input-placeholder {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

.header__search-input:-ms-input-placeholder {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

.header__search-input::-ms-input-placeholder {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

.header__search-input::placeholder {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

.header__search-btn {
  width: 136px;
  height: 40px;
  border-radius: 25px;
  background-color: #ce3730;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22.4px;
  margin-top: -6px;
}

.header__search-result {
  background-color: #fff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 988px;
  margin-left: 124px;
  padding-left: 18px;
  padding-top: 25px;
}

.header__search-popular {
  opacity: 0.5;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14px;
}

.header__search-list {
  margin-top: 8px;
  margin-bottom: 44px;
}

.header__search-item {
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26.4px;
}

.header__search-item-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header__search-product-list-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__search-product-list-item-img {
  margin-right: 19px;
}

.header__search-product-list-item-infos {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
  margin-top: -2px;
}

.header__search-product-list-item-infos-price {
  margin-bottom: 8px;
}

.header__search-product-list-item-infos-text {
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
}

.header__menu {
  display: none;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.header__menu-top-list {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
}

.header__menu-lists {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.8px;
}

.header__menu-list-item--title {
  color: #000000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}

.header__menu-promo-1 {
  background: url("img/burgerpromo1.png");
  width: 840px;
  height: 425px;
}

.header__menu-promo-1-info-title {
  color: #ce3730;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.header__menu-promo-1-info-text {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19.6px;
}

.header__menu-promo-1-info-price {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.header__menu-promo-1-info-btn {
  width: 58px;
  height: 58px;
  background-color: #ce3730;
  border-radius: 50%;
}

.header__menu-promo-2 {
  background: url("img/burgerpromo2.png");
  width: 840px;
  height: 425px;
}

.header__menu-promo-2-info {
  width: 58px;
  height: 58px;
  background-color: #ce3730;
}

.header__menu-promo-2-info-title {
  color: #ce3730;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.header__menu-promo-2-info-text {
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19.6px;
}

.header__menu-promo-2-info-price {
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.header__menu-promo-2-info-btn {
  width: 58px;
  height: 58px;
  background-color: #ce3730;
  border-radius: 50%;
}

.header__logo {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin-left: 60px;
  margin-right: 141px;
}

.header__logo-img {
  width: 224px;
}

.header__range {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 580px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  z-index: 1;
}

.header__range-common-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
}

.header__range-common-list-item {
  margin-right: 57px;
}

.header__range-common-list-item:nth-child(3n) {
  margin-right: 0;
}

.header__range-common-list-item-link--active {
  border-bottom: 2px solid #000000;
  padding-bottom: 3px;
}

.header__range-common-list-item-link {
  color: #000000;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
}

.header__range-detail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__range-detail-list-item {
  margin-right: 4px;
}

.header__range-detail-list-item:hover {
  color: #ce3730;
}

.header__range-detail-list-item--classic {
  margin-right: 6px;
}

.header__range-detail-list-item-link {
  color: #000000;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__range-detail-list-item-link:hover {
  color: inherit;
}

.header__range-detail-list-item-link:hover span {
  color: inherit;
}

.header__range-detail-list-item-link:hover p {
  color: #000000;
}

.header__range-detail-list-item-link-count {
  opacity: 0.5;
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  margin-top: -3px;
  margin-left: 2px;
  margin-right: 3px;
}

.header__range-detail-list-item-link-count--rashid {
  margin-right: 6px;
  margin-top: -2px;
}

.header__range-detail-list-item-link-count--provans {
  margin-left: 5px;
  margin-top: -2px;
}

.header__range-detail-list-item-link-count--loft {
  margin-top: -2px;
  margin-left: 3px;
  margin-right: 5px;
}

.header__range-detail-list-item-link-count--scandinavian {
  margin-left: 4px;
  margin-top: -2px;
  margin-right: 4px;
}

.header__btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  margin-left: 80px;
  margin-top: -49px;
}

.header__btn-action {
  width: 179px;
  height: 39px;
  border-radius: 33px;
  border: 2px solid #ce3730;
  background: #fff;
}

.header__btn-link {
  color: #ce3730;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 14px;
  text-align: center;
}

.header__list-user-item-link--search {
  position: relative;
}

.header__list-user-item-link--search::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("img/searchHeader.svg");
  top: -10px;
  left: -20px;
  background-repeat: no-repeat;
}

.header__list-user-item-link--search--active {
  position: relative;
}

.header__list-user-item-link--search--active::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url("img/active-search.svg");
  top: -23px;
  left: -34px;
  background-repeat: no-repeat;
}

.header__search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__search-common {
  background-color: #f1f1f1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-inner {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #f1f1f1;
}

.header__search-wrapper {
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 131px;
  padding-top: 24px;
  padding-bottom: 18px;
}

.header__search-product-list-item--intuit {
  margin-top: 21px;
  margin-bottom: 26px;
}

.header__list--active {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */